<header>
    <nav>
      <div class="head">
        <img alt="logo" class="logo" src="../../../../../assets/images/kolev-logo-white.png"/>
        <ul class="main-nav">
          <li><a href="#">За нас</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Галерия</a></li>
          <li><a href="#">Отзиви</a></li>
          <li><a href="#">Контакти</a></li>
        </ul>
      </div>
    </nav>
    <div class="hero-text-box">
      <h1>Нека я погледнем!</h1>
      <h4>Автосервиз Колев</h4>
      <a href="#" class="btn btn-full">Услуги</a>
      <a href="#" class="btn btn-ghost">Контакти</a>
    </div>
</header>
