<section >
  <h2>УСЛУГИ</h2>
  <div class="container">
    <!------------FIRST ROW------------>
    <div class="row">
      <div class="col">
        <div>
          <ion-icon name="snow-outline" class="icon-services icon-snow"></ion-icon>
          <h4 class="blue-line"></h4>
        </div>
        <p>Зареждане и ремонт на автоклиматици</p>
      </div>
      <div class="col">
        <div class="blue">
          <ion-icon name="settings-outline" class="icon-services icon-settings"></ion-icon>
          <h4 class="black-line"></h4>
        </div>
        <p>Ремонтни дейности по скоростната кутия</p>
      </div>
      <div class="col">
        <div class="blue">
          <ion-icon name="color-fill-outline" class="icon-services icon-color-fill"></ion-icon>
          <h4 class="black-line"></h4>
        </div>
        <p>Смяна на масла и филтри</p>
      </div>
      <div class="col">
        <div class="blue">
          <ion-icon name="hammer-outline" class="icon-services icon-hammer"></ion-icon>
          <h4 class="violet-line"></h4>
        </div>
        <p>Ремонт на двигатели</p>
      </div>
    </div>

    <!------------SECOND ROW------------>
    <div class="row">
      <div class="col">
        <div>
          <ion-icon name="desktop-outline" class="icon-services icon-desktop"></ion-icon>
          <h4 class="red-line"></h4>
        </div>
        <p>Компютърна диагностика</p>
      </div>
      <div class="col">
        <div class="blue">
          <ion-icon name="reload-outline" class="icon-services icon-reload"></ion-icon>
          <h4 class="orange-line"></h4>
        </div>
        <p>Смяна на ангренажен ремък</p>
      </div>
      <div class="col">
        <div class="blue">
          <ion-icon name="flash-outline" class="icon-services icon-flash"></ion-icon>
          <svg-icon src="../"></svg-icon>
          <h4 class="yellow-line"></h4>
        </div>
        <p>Електроинсталации Ремонт на стартери и генератори</p>
      </div>
      <div class="col">
        <div class="blue">
          <ion-icon name="pie-chart-outline" class="icon-services icon-chart"></ion-icon>
          <h4 class="green-line"></h4>
        </div>
        <p>Смяна на съедитнител и спирачна система</p>
      </div>
    </div>
  </div>
</section>
