<section>
  <h2>ЗА НАС</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <ion-icon name="people-outline" class="icon-about-us"></ion-icon>
        </div>
          <h3>Кои сме ние</h3>
          <p>
            Ние сме автосервиз Колев 2016. <br>
            Управител: Николай Колев
          </p>
      </div>
      <div class="col">
        <div>
          <ion-icon name="car-sport-outline" class="icon-about-us"></ion-icon>
        </div>
        <h3>Нашата мисия</h3>
        <p>
          Да се погрижим за вашият автомобил, намаляйки стресът, без да намяляваме бюджета ви!
        </p>
      </div>
      <div class="col">
        <div>
          <ion-icon name="construct-outline" class="icon-about-us"></ion-icon>
        </div>
        <h3>Защо нас</h3>
        <p>
          Гарантираме ви високо качество, дължащо се на повече от 20 години опит в бранша, и досъпни цени!
        </p>
      </div>
    </div>
  </div>
</section>
