<section>
  <h2>Отзиви</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <p class="review">
        Omnifood е просто страхотно! Току-що стартирах стартиране, което не ми остава време за готвене, така че Omnifood е спасител на живота. Сега, когато свикнах, не бих могъл да живея без ежедневните си ястия!
      </p>
      <div class="user-data">
        <img class="user-photo" src="../../../../../assets/images/1.jpg" alt="1">
        <span class="username">Yani Lozanov</span>
      </div>
    </div>
    <div class="col mx-5">
      <p class="review ">
        Omnifood е просто страхотно! Току-що стартирах стартиране, което не ми остава време за готвене, така че Omnifood е спасител на живота. Сега, когато свикнах, не бих могъл да живея без ежедневните си ястия!
      </p>
      <div class="user-data">
        <img class="user-photo" src="../../../../../assets/images/1.jpg" alt="1">
        <span class="username">Yani Lozanov</span>
      </div>
    </div>
    <div class="col">
      <p class="review">
        Omnifood е просто страхотно! Току-що стартирах стартиране, което не ми остава време за готвене, така че Omnifood е спасител на живота. Сега, когато свикнах, не бих могъл да живея без ежедневните си ястия!
      </p>
      <div class="user-data">
        <img class="user-photo" src="../../../../../assets/images/1.jpg" alt="1">
        <span class="username">Yani Lozanov</span>
      </div>
    </div>


  </div>
  <div class="write-review-header">
    <h4>Напиши твоят отзив тук</h4>

  </div>
  <div class="write-review">
    <div >
      <a class="btn facebook-btn" href="#">
        <ion-icon name="logo-facebook" class="icon"></ion-icon>
        facebook
      </a>
    </div>
    <div >
      <a class="btn email-btn" href="#">
        <ion-icon name="mail-outline" class="icon"></ion-icon>
        Анонимен
      </a>
    </div>
  </div>
</div>


</section>
